
*.exe
@@@@@TODO FOR BOTH GAMES MENUES.txt
smartzip.ahk
tf.ahk
AddTooltip.ahk
temp/inventory_gen.scr
temp/inventory_patch.scr
temp/inventory_special.scr
temp/inventorystuff.scr
Deadisland Riptide Ultimate Edition mod menu version 1.0.zip
README.txt
Deadisland Riptide Ultimate Edition mod menu version 1.1.zip
DIDMM_before_mass_upgrade_weapon_pov.7z
inventory_gen_di.scr
Regex expresion for searching line numbers.txt
DIDMM.7z
DIDMM_version_3.0.zip
Required_files_and_scripts/@OLD_REQUIRED_FILES/ai_hard.zip
Required_files_and_scripts/@OLD_REQUIRED_FILES/ai_Headshot.zip
Required_files_and_scripts/@OLD_REQUIRED_FILES/ai_Onehit.zip
Required_files_and_scripts/@temp/ai_norm_zip/ai_aggression_levels.def
Required_files_and_scripts/@temp/ai_norm_zip/ai_cover_manager.scr
Required_files_and_scripts/@temp/ai_norm_zip/ai_cover_point.scr
Required_files_and_scripts/@temp/ai_norm_zip/ai_curves.def
Required_files_and_scripts/@temp/ai_norm_zip/ai_data.def
Required_files_and_scripts/@temp/ai_norm_zip/ai_mesh_id.scr
Required_files_and_scripts/@temp/ai_norm_zip/ai_scare_level.def
Required_files_and_scripts/@temp/ai_norm_zip/ai_sound_preset_id.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/attractors.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/car_fighting_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/dead_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/door_breaking_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/ground_idle_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/lying_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/man_a_corpse_a_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/man_a_corpse_b_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/man_a_corpse_c_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/man_b_corpse_a_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/man_b_corpse_b_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/man_b_corpse_c_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/man_c_corpse_a_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/man_c_corpse_b_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/man_c_corpse_c_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/man_c_corpse_d_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/man_c_corpse_e_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/man_c_corpse_f_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/man_c_corpse_g_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/man_c_corpse_h_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/man_c_corpse_i_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/man_c_corpse_j_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/man_c_corpse_k_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/man_c_corpse_l_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/man_c_corpse_m_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/meat_corps_a_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/meat_corps_b_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/npc_bulb_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/npc_cabinet_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/npc_cb_radio_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/npc_chair_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/npc_chair_interact_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/npc_chair_prayer_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/npc_chair_riffle_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/npc_chair_sadness_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/npc_computer_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/npc_conversation_a_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/npc_conversation_b_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/npc_conversation_c_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/npc_dignified_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/npc_dignified_knee_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/npc_door_closing_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/npc_door_opening_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/npc_drunk_stand_a_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/npc_drunk_stand_b_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/npc_drunk_walk_a_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/npc_garbage_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/npc_hugging_floor_m_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/npc_hugging_floor_w_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/npc_hugging_m_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/npc_hugging_w_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/npc_knees_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/npc_laugh_a_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/npc_life_places.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/npc_look_around_nervous_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/npc_lp_base_anims.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/npc_man_weak_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/npc_mechanic_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/npc_phone_a_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/npc_pimp_walk_a_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/npc_scared_safe_place_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/npc_scratch_a_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/npc_sit_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/npc_sit_crying_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/npc_sit_nervous_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/npc_sleeping_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/npc_smoke_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/npc_stand_gesture_a_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/npc_stand_impatient_a_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/npc_stand_impatient_b_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/npc_stand_talk_a_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/npc_standa_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/npc_standable_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/npc_standb_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/npc_street_conversation_a_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/npc_street_conversation_b_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/npc_street_conversation_c_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/npc_sweeping_a_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/npc_sweeping_b_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/npc_talk_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/npc_talk_need_help_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/npc_talk_pose2_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/npc_talk_understand_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/npc_test_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/npc_tied_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/npc_trapped_a_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/npc_trapped_b_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/npc_w_scared_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/npc_walk_a_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/npc_walk_around_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/npc_wall_sit_m_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/npc_wall_sit_w_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/npc_wall_stand_a_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/npc_wall_stand_b_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/npc_wave_stand_a_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/npc_wavehands_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/npc_whore_a_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/npc_whore_b_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/npc_window_clean_a_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/npc_window_clean_b_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/npc_yawnstretch_a_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/phone_talking_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/player_lying_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/stand_point_a_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/stand_point_b_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/stand_point_c_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/strong_zombie_idle_random_01_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/strong_zombie_rage_random_01_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/strong_zombie_wall_attack_01_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/strong_zombie_wall_attack_02_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/strong_zombie_wall_attack_03_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/strong_zombie_wall_attack_04_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/strong_zombie_wall_attack_05_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/strong_zombie_wall_attack_06_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/strong_zombie_wall_attack_07_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/vehicle_armored_a_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/vehicle_armored_b_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/vehicle_combi_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/vehicle_exp_pickup_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/vehicle_landcruiser_static_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/vehicle_landcruiser_static_noglass_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/vehicle_offroad_pickup_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/vehicle_pickup_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/vehicle_sedan_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/vehicle_suv_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/virtual_attractors.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/w_npc_chair_prayer_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/w_npc_chair_sadness_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/weapon_atractor_a_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/worried_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/zombie_door_attacking_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/zombie_wall_attack_01_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/zombie_wall_attack_02_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/zombie_wall_attack_03_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/zombie_wall_attack_04_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/zombie_wall_attack_05_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/zombie_wall_attack_06_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/attractors/zombie_wall_attack_07_attractor.scr
Required_files_and_scripts/@temp/ai_norm_zip/conflict_side.def
Required_files_and_scripts/@temp/ai_norm_zip/dead_body_pose.scr
Required_files_and_scripts/@temp/ai_norm_zip/driver.bhv
Required_files_and_scripts/@temp/ai_norm_zip/human/human_activities.def
Required_files_and_scripts/@temp/ai_norm_zip/human/human_data.scr
Required_files_and_scripts/@temp/ai_norm_zip/human/human_data_base.scr
Required_files_and_scripts/@temp/ai_norm_zip/human/human_data_preset_0.scr
Required_files_and_scripts/@temp/ai_norm_zip/human/human_data_preset_custom_0.scr
Required_files_and_scripts/@temp/ai_norm_zip/human/human_data_preset_custom_1.scr
Required_files_and_scripts/@temp/ai_norm_zip/human/human_data_preset_custom_10.scr
Required_files_and_scripts/@temp/ai_norm_zip/human/human_data_preset_custom_11.scr
Required_files_and_scripts/@temp/ai_norm_zip/human/human_data_preset_custom_12.scr
Required_files_and_scripts/@temp/ai_norm_zip/human/human_data_preset_custom_2.scr
Required_files_and_scripts/@temp/ai_norm_zip/human/human_data_preset_custom_3.scr
Required_files_and_scripts/@temp/ai_norm_zip/human/human_data_preset_custom_4.scr
Required_files_and_scripts/@temp/ai_norm_zip/human/human_data_preset_custom_5.scr
Required_files_and_scripts/@temp/ai_norm_zip/human/human_data_preset_custom_6.scr
Required_files_and_scripts/@temp/ai_norm_zip/human/human_data_preset_custom_7.scr
Required_files_and_scripts/@temp/ai_norm_zip/human/human_data_preset_custom_8.scr
Required_files_and_scripts/@temp/ai_norm_zip/human/human_data_preset_custom_9.scr
Required_files_and_scripts/@temp/ai_norm_zip/human/human_goals.def
Required_files_and_scripts/@temp/ai_norm_zip/human/human_sound_types.def
Required_files_and_scripts/@temp/ai_norm_zip/human/human_timing_events.def
Required_files_and_scripts/@temp/ai_norm_zip/humancoop/human_coop_data.scr
Required_files_and_scripts/@temp/ai_norm_zip/humancoop/human_coop_data_base.scr
Required_files_and_scripts/@temp/ai_norm_zip/humancoop/human_coop_goals.def
Required_files_and_scripts/@temp/ai_norm_zip/ikholders/heavy_objects_ik_ik.scr
Required_files_and_scripts/@temp/ai_norm_zip/ikholders/ik_holders.scr
Required_files_and_scripts/@temp/ai_norm_zip/ikholders/vehicle_offroad_pickup_ik.scr
Required_files_and_scripts/@temp/ai_norm_zip/infected/fighter_data.def
Required_files_and_scripts/@temp/ai_norm_zip/infected/infected_data.scr
Required_files_and_scripts/@temp/ai_norm_zip/infected/infected_data_preset_0.scr
Required_files_and_scripts/@temp/ai_norm_zip/infected/infected_data_preset_1.scr
Required_files_and_scripts/@temp/ai_norm_zip/infected/infected_data_preset_custom_0.scr
Required_files_and_scripts/@temp/ai_norm_zip/infected/infected_data_preset_custom_1.scr
Required_files_and_scripts/@temp/ai_norm_zip/infected/infected_data_preset_custom_2.scr
Required_files_and_scripts/@temp/ai_norm_zip/infected/infected_data_preset_custom_3.scr
Required_files_and_scripts/@temp/ai_norm_zip/infected/infected_data_preset_custom_4.scr
Required_files_and_scripts/@temp/ai_norm_zip/infected/infected_data_preset_custom_5.scr
Required_files_and_scripts/@temp/ai_norm_zip/infected/infected_data_preset_custom_6.scr
Required_files_and_scripts/@temp/ai_norm_zip/infected/infected_data_preset_custom_7.scr
Required_files_and_scripts/@temp/ai_norm_zip/infected/infected_data_preset_custom_8.scr
Required_files_and_scripts/@temp/ai_norm_zip/infected/infected_data_preset_custom_9.scr
Required_files_and_scripts/@temp/ai_norm_zip/infected/infected_goals.def
Required_files_and_scripts/@temp/ai_norm_zip/infected/infected_timing_events.def
Required_files_and_scripts/@temp/ai_norm_zip/zombie/vessel_data.scr
Required_files_and_scripts/@temp/ai_norm_zip/zombie/vessel_data_preset_0.scr
Required_files_and_scripts/@temp/ai_norm_zip/zombie/vessel_data_preset_1.scr
Required_files_and_scripts/@temp/ai_norm_zip/zombie/vessel_data_preset_custom_0.scr
Required_files_and_scripts/@temp/ai_norm_zip/zombie/vessel_data_preset_custom_1.scr
Required_files_and_scripts/@temp/ai_norm_zip/zombie/vessel_data_preset_custom_10.scr
Required_files_and_scripts/@temp/ai_norm_zip/zombie/vessel_data_preset_custom_11.scr
Required_files_and_scripts/@temp/ai_norm_zip/zombie/vessel_data_preset_custom_12.scr
Required_files_and_scripts/@temp/ai_norm_zip/zombie/vessel_data_preset_custom_13.scr
Required_files_and_scripts/@temp/ai_norm_zip/zombie/vessel_data_preset_custom_14.scr
Required_files_and_scripts/@temp/ai_norm_zip/zombie/vessel_data_preset_custom_15.scr
Required_files_and_scripts/@temp/ai_norm_zip/zombie/vessel_data_preset_custom_16.scr
Required_files_and_scripts/@temp/ai_norm_zip/zombie/vessel_data_preset_custom_2.scr
Required_files_and_scripts/@temp/ai_norm_zip/zombie/vessel_data_preset_custom_3.scr
Required_files_and_scripts/@temp/ai_norm_zip/zombie/vessel_data_preset_custom_4.scr
Required_files_and_scripts/@temp/ai_norm_zip/zombie/vessel_data_preset_custom_5.scr
Required_files_and_scripts/@temp/ai_norm_zip/zombie/vessel_data_preset_custom_6.scr
Required_files_and_scripts/@temp/ai_norm_zip/zombie/vessel_data_preset_custom_7.scr
Required_files_and_scripts/@temp/ai_norm_zip/zombie/vessel_data_preset_custom_8.scr
Required_files_and_scripts/@temp/ai_norm_zip/zombie/vessel_data_preset_custom_9.scr
Required_files_and_scripts/@temp/ai_norm_zip/zombie/vessel_goals.def
Required_files_and_scripts/@temp/ai_norm_zip/zombie/vessel_sound_types.def
Required_files_and_scripts/@temp/ai_norm_zip/zombie/vessel_timing_events.def
DIDMM_version3.1.zip
Required_files_and_scripts/gameaudioeffects.scr.zip
Required_files_and_scripts/Info.txt
@@@to get done
BreadIsland-3lRry.ttf
FiraSans-SemiBold.ttf
DIDMM_backupbefore_switching.7z
gui_msgbox_with_icons.ahk
possible_gui_message_update/552927522824781834.gif
/possible_gui_message_update
Required_files_and_scripts/fonts/AppoPaint-L9xg.ttf
Required_files_and_scripts/fonts/fonts.7z
RonysiswadiArchitect4-qZmp2.ttf
UI/Dead Island Screenshot 2022.08.31 - 22.17.57.39.psd
UI/DIDMM_main.7z
UI/splash-machete.jpg
gamedll_x64_rwdi.dll
